/* line 6, ../../src/public/stylesheets/colors.sass */
body, .highcharts-title {
  background: #111314 none;
  color: #d3d4d4;
  font: 400 20px/24px Arial, Tahoma, Geneva, sans-serif;
}

/* line 10, ../../src/public/stylesheets/colors.sass */
article {
  box-shadow: 0 0 10px 0 black;
  background: #202223 none;
}

/* line 13, ../../src/public/stylesheets/colors.sass */
header {
  font-size: 20px;
}

/* line 15, ../../src/public/stylesheets/colors.sass */
header, footer {
  text-shadow: 0 -1px 1px black;
  color: #707275;
}

/* line 18, ../../src/public/stylesheets/colors.sass */
header, .content {
  border-bottom: 1px solid #151617;
}

/* line 20, ../../src/public/stylesheets/colors.sass */
.content, footer {
  border-top: 1px solid #303334;
}

/* line 23, ../../src/public/stylesheets/colors.sass */
.ONLINE, .DEGRADED, .FAULTED, .OFFLINE {
  padding: 3px;
}

/* line 26, ../../src/public/stylesheets/colors.sass */
.ONLINE {
  background: #77ab13 none;
}

/* line 29, ../../src/public/stylesheets/colors.sass */
.DEGRADED {
  background: #b5712e none;
}

/* line 32, ../../src/public/stylesheets/colors.sass */
.FAULTED, .OFFLINE {
  background: #ae432e none;
}
