/* line 1, ../../src/public/stylesheets/disks.sass */
.disk {
  border-radius: 0.25em;
}
/* line 4, ../../src/public/stylesheets/disks.sass */
.disk .id, .disk .type, .disk .size {
  float: left;
  white-space: nowrap;
}
/* line 8, ../../src/public/stylesheets/disks.sass */
.disk .id {
  width: 41%;
}
/* line 11, ../../src/public/stylesheets/disks.sass */
.disk .size {
  text-align: right;
  float: right;
}
