$green: #77AB13
$organge: #B5712E
$red: #AE432E
$blue: #058DC7

body
  background: #111314 none
  color: #D3D4D4
  font: 400 20px/24px Arial,Tahoma, Geneva, sans-serif
article
  box-shadow: 0 0 10px 0 black
  background: #202223 none
header
  font-size: 20px
header,footer
  text-shadow: 0 -1px 1px black
  color: #707275
header, .content
  border-bottom: 1px solid #151617
.content, footer
  border-top: 1px solid #303334

.ONLINE, .DEGRADED, .FAULTED, .OFFLINE
  padding: 3px

.ONLINE
  background: $green none

.DEGRADED
  background: $organge none

.FAULTED, .OFFLINE
  background: $red none
