.disk
  outline: 2px solid #202223
  text-align: center

  .id, .type, .size
    float: left
    width: 33%

  .id
    width: 30%
    text-align: left

  .type
    width: 35%
    text-align: center
    
  .size
    width: 35%
    text-align: right
    white-space: nowrap
